@{
    ViewData["Title"] = "Home Page";
}
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Hình ảnh sân bóng</h2>
            <p>Nó tạo nên sự gắn kết và cùng nhau chia sẻ những tiếng cười, thậm chí cả khi đội yêu thích của bạn không chiến thắng.</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4 class="text-center"><a href="">Sân A</a></h4>
                    <img src="/lib/assests/anh4.jpg" class="img-fluid animated" alt="">
                    <p>Sự hài hước, vui nhộn trong lời nói, hành động chính là thứ gia vị giúp cuộc sống chúng ta thêm ý và tràn ngập niềm vui.</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="text-center"><a href="">Sân B</a></h4>
                    <img src="/lib/assests/anh3.jpg" class="img-fluid animated" alt="">
                    <p>Trong một thế giới thể thao tràn đầy cạnh tranh và nghiêm túc, những slogan hài hước về bóng đá mang đến một hơi thở mới, một lời nói giải trí và mang tính chất giữ vui vẻ trong cuộc chơi này.</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="text-center"><a href="">Sân C</a></h4>
                    <img src="/lib/assests/san-bong-da-o-quan-12.jpg" class="img-fluid animated" alt="">
                    <p>Hãy cùng tôi lắng nghe những câu chuyện tình yêu trong bóng đá, từ những cặp đôi hâm mộ cùng nhau xem trận đấu, đến những trái tim ngập tràn cảm xúc khi nhìn thấy cầu thủ mình yêu thương ghi bàn. </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4 class="text-center"><a href="">Sân D</a></h4>
                    <img src="/lib/assests/chi-phi-lam-san-co-nhan-tao-bong-da-3.jpeg" class="img-fluid animated" alt="">
                    <p>Hãy cùng tận hưởng những giây phút tuyệt vời của bóng đá và tình yêu. Những câu chuyện và thả thính đang chờ đón bạn.</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->
